[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"

[packages]
asyncio = "*"
urllib3 = "*"
aiohttp = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
