[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"

[packages]
asyncio = "*"
urllib3 = "*"
aiohttp = ">=3.7.4"
beautifulsoup4 = "*"
cchardet = "*"
aiodns = "*"
uvloop = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
