[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
black = "*"

[packages]
aiohttp = "*"
asyncio = "*"
urllib3 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
